
    <form class="form-horizontal" style="" method="POST" ng-submit="submitRegister()">
        <div class="form-input-row">
            <div class="form-input-container">
                <input type="text" class="form-input-text" id="name" name="name" placeholder="Nombre" ng-model="nombreCandidato">
            </div>
        </div>
        <div class="form-input-row">
          <div class="form-input-container">
            <input type="number" class="form-input-text" id="id_number" name="id_number" placeholder="Cédula" ng-model="cedula">
          </div>
        </div>
        <!--ahora el template se seleccionan luego de ingresar-->
        <div class="">
          <div class="">
            <button type="submit" class="blue-button">Ingresar</button>
          </div>
        </div>
    </form>

    <script type="text/ng-template" id="existentCandidateDialog">
		<div class="ngdialog-message">
			<h3>Candidato Existente</h3>
			<p>El usuario {{ candidateName }} ya existe en la base de datos, se recuperara el examen pendiente</p>
		</div>
		<div class="ngdialog-buttons">
			<button type="button" class="ngdialog-button ngdialog-button-primary"
				ng-dialog-class="ngdialog-theme-default"
				ng-dialog-close-previous
                    ng-click="closeThisDialog()" focus-me>Cerrar</button>
		</div>
	</script>
