
<div class="container">
    <h2>Examen finalizado</h2>
    <h3>Favor avisar al encargado de la entrevista.</h3>

    <button type="button" class="blue-button" ng-click="finish()">Volver al inicio</button>
</div>