    <form class="form-horizontal" style="" method="POST" ng-submit="startTest()">
        <div>
            <div>
                <label>Examen:</label><span class="summary-detail-right">{{ testName }}</span> <br />
                <label>Duración:</label><span class="summary-detail-right">{{ testDuration }}</span> <br />
                <label>Cantidad de preguntas:</label><span class="summary-detail-right">{{ testLength }}</span> <br />
                <label>Temas:</label>
                    <ul id="topics_list">
                        <li ng-repeat="item in testTopics">
                            {{ item.description }}
                        </li>
                    </ul>
            </div>

            <div>
                <label>Nombre:</label><span class="summary-detail-right">{{ candidateName }}</span> <br />
                <label>Documento:</label><span class="summary-detail-right">{{ candidateId }}</span>
            </div>

            <div>
                <input type="submit" value="Comenzar" class="blue-button">
            </div>
        </div>
    </form>
    <script type="text/ng-template" id="testAlreadyFinished">
		<div class="ngdialog-message">
			<h3>Examen invalido</h3>
			<p>El examen para este usuario se encuentra con estado finalizado, por favor consulte con el encargado de la entrevista.</p>
		</div>
		<div class="ngdialog-buttons">
			<button type="button" class="ngdialog-button ngdialog-button-primary"
				ng-dialog-class="ngdialog-theme-default"
				ng-dialog-close-previous
                    ng-click="closeThisDialog()">Cerrar</button>
		</div>
	</script>
