    <form class="form-horizontal" method="POST" ng-submit="sendAnswer()">
        <div>
            <div id="questionBox">
                <div style="margin-bottom: 1em" ng-bind-html="renderHTML(question)"></div>
                        <div ng-repeat="item in answers">

                            <input type="radio" ng-init="checked = isSelected($index)"
                                   ng-model="formData.selectedAnswer"
                                   ng-value="{{$index}}"
                                   name="question_{{ questionId }}"
                                   id="question_{{ questionId }}_option{{ $index }}">


<!--                                    <img ng-src="http://127.0.0.1:8000/RSHKTS/{{ item.image_name }}" > -->

                                    <label for="question_{{ questionId }}_option{{ $index }}" ng-bind-html="renderHTML(item.answerHTML)"></label>

                        </div>

            </div>
            <div style="margin-top: 3em">
                <input type="checkbox" ng-model = "formData.checkLater" id="check_later_{{ questionId }}"> <label for="check_later_{{ questionId }}">Revisar más tarde</label>
            </div>
            <div>
                <input type="submit" value="Siguiente" class="blue-button" ng-hide="isFinalQuestion">
                <input type="submit" value="Finalizar" class="blue-button" ng-show="isFinalQuestion">
            </div>
        </div>
    </form>

    <div id="questionsList" class="rsk-questions-index">
        <ul>
            <li ng-repeat="item in questionsIndex">
                <a ng-click="renderQuestion(item.index)" href="" ng-class="item.class" >{{ item.desc }}</a>
            </li>
        </ul>
    </div>


    <div id="summaryWidget">
        <label>
            <timer  countdown="testDuration"
                    max-time-unit="'hour'"
                    interval="1000"
                    finish-callback="callbackTimerFinished()">Tiempo restante : {{hours}} : {{mminutes}} : {{sseconds}} </timer>
        </label>
        <label>
            Pregunta : {{ currentQuestion + 1 }} de {{ totalQuestions }}
        </label>

        <label>
            Preguntas restantes : {{ remainingQuestions }}
        </label>
    </div>
