    <div class="blue-button" ng-hide="test_submit_status !== undefined">{{ test_submit_status }}</div>
	<div class="form-horizontal">
        <div ng-repeat="template in templates" ng-click="selectTemplate(template.id)" class="template-list-item {{ template.status }}" ng-class="template.status">
            {{ template.description }}
        </div>
        <div class="buttons-container">
            <button type="button" class="blue-button" ng-click="sendEmailToAdmin()">Terminar</button>
        </div>
    </div>
    <script type="text/ng-template" id="testAlreadyFinished">
		<div class="ngdialog-message">
			<h3>Examen invalido</h3>
			<p>El examen para este usuario se encuentra con estado finalizado, por favor consulte con el encargado de la entrevista.</p>
		</div>
		<div class="ngdialog-buttons">
			<button type="button" class="ngdialog-button ngdialog-button-primary"
				ng-dialog-class="ngdialog-theme-default"
				ng-dialog-close-previous
                    ng-click="closeThisDialog()">Cerrar</button>
		</div>
	</script>
