
*{
    list-style-type: none;
}

body {
    background-color: #ededed;
}

label {
    font-weight: normal;
}

#topics_list>li{
    list-style-type: disc;
}

ul > li{
    font-size: 16px;
    padding: 6px;
}

.rshk-header {
    height: 10rem;
    width: 100%;
    /* line-height: 100%; */
    padding: 2rem;
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff;
}

.rshk-header-logo {
    background-image: url("../img/rshk_logo.png");
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: contain;
    width: 251px;
    height: 60px;
}

.blue-button {
    left: 30%;
    position: relative;
    margin-top: 2em;
    vertical-align: bottom;
    width: 30%;
    height: 35px;
    padding: 5px;
    font-size: 17px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #3498db;
    border: 0;
    border-bottom: 2px solid #2a8bcc;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #2a8bcc;
    box-shadow: inset 0 -2px #2a8bcc;
}
.blue-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-horizontal, div.container{
    width: 55%;
    /* margin-left: 30%; */
    /* margin-top: 5%; */
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 3em;
    margin: 5rem auto 5rem auto;
    background-color: #fff;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; margin: 0;
}

button.ngdialog-button {
		border: solid transparent 1px !important;
	}

button.ngdialog-button:focus {
	border: solid black 1px !important;
}

.ngdialog h2:focus { outline: none; }

span.summary-detail-right{
    margin-left: 0.5em;
}

#summaryWidget {
    /* float: right; */
    /* position: relative; */
    /* top: -20em; */
    /* right: 20em; */
    border: 1px solid lightgray;
    padding: 2em;
    border-radius: 6px;
    width: 25rem;
    position: absolute;
    top: 15rem;
    right: 1rem;
    background: #fff;
}

.rsk-questions-index {
    margin: auto;
    width: 100%;
    background-color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    border-top: #dcdcdc;
}

.rsk-questions-index ul {
    margin: auto;
    padding:0;
    display: inline-block;
}

.rsk-questions-index ul li {
    padding: 7px;
    display: inline-block;
}

.rsk-questions-index ul>li>a{
	border: 2.5px solid lightblue;
	display: block;
	height: 30px;
	width: 40px;
	text-align: center;
	vertical-align: middle;
    text-decoration: none;
}

#questionBox ul>li{
	position: relative;
	left: -3em
}

.pending {
    color : red;
    border: 2.5px solid red !important;
}

.marked {
    background: lightblue;
    color : #fff;
}

.current {
    background: #dc7918;
    color: #fff;
}

.form-input-row {
    text-align: center;
}

.form-input-container {
    text-align: center;
}

.form-input-text {
    -webkit-appearance: none;
    border: 1px solid #dcdcdc;
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    width: 50%;
    margin: 1rem auto 1rem auto;
}

.form-select {
    -webkit-appearance: none;
    background: #fff;
    width: 50%;
    padding: 1rem;
    margin: 1rem auto 0rem auto;
    border: 1px solid #dcdcdc;
    border-radius: 0.5rem;
}

.buttons-container {
    clear: both;
    border-top: 1px solid #dcdcdc;
}

.template-list-item {
    background-color: #2a8bcc;
    color: #fff;
    text-align: center;
    width: 15rem;
    padding: 1rem;
    margin:0rem 1rem 1rem 0rem;
    display: inline-block;
    cursor: pointer;
}

    .n {
        background-color: #2a8bcc;
    }

    .f {
        background-color: #009933;
    }

    .p {
        background-color: #d58512;
    }
.notifications-banner {
    margin: auto;
    display: block;
    /* width: 50%; */
    background-color: #1a3f81;
    /* border: 1px solid lightgray; */
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    z-index: 200;
    float: left;
    width: 100%;
}